* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica, sans-serif;
  }
  

:root {
    --primary-color: #333;
    --secondary-color: #e6e5e5;
    --tertiary-color: #052d69;
    --accent-color: orangered;
    --light-text-color: #f4f4f4;
    --dark-text-color: #1d1d1d;

    --nav-height: 8rem; 
}

:is(h2) {
    text-align: center;
}

a {
    text-decoration: none;
}

/* nav */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 6rem;
    height: var(--nav-height);
    z-index: 1;
}

 nav, .nav-link a{
    color: var(--light-text-color);
}

.nav-link a {
    transition: color .25s ease-in-out;

    &:hover {
        color: var(--accent-color);
    }
}

.logo {
    color: var(--light-text-color);
    font-size: 1.5rem;
    font-weight: bold;
    border: 2px solid var(--light-text-color);
    border-radius: 50%;
    padding: .3rem .2rem;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1.6rem;
}


/* hero */

.hero-section {
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('https://cdn.motor1.com/images/mgl/qkl06z/s2/2014-pagani-zonda-760-lm-roadster.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: calc(-1 * var(--nav-height));
    padding: var(--nav-height) 0 0 0;
}

.hero-section.container {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr; 
    align-items: center; 
    gap: 3rem; 


}

.hero-text {
    display: flex;
    flex-direction: column;
    gap: 12rem;
    color: var(--light-text-color);
}

.top-text , .bottom-text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-left: 6rem;
}

.top-text {
    & h1 {
        font-size: 4rem;
    }
    & h3 {
        font-size: 1.8rem;
    }
}

.bottom-text {
    & p {
        font-size: 1.1rem;
    }
}

.cv-btn {
    background-color: var(--accent-color);
    color: var(--light-text-color);
    padding: .8rem 1.6rem;
    font-size: 1.1rem;
    width: fit-content;
    border: 2px solid var(--secondary-color);
    border-radius: 12rem;
    cursor: pointer;
    transition: all .3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .8rem;

    &:hover {
        background-color: var(--accent-color);
    }
    & i {
        font-size: 1.2rem;
    }
}

/* about */

.about-section {
    background-color: var(--secondary-color);
    padding: 8rem 2rem 2rem;
}

.personal-info {
    min-height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;

    &>p {
        width: 45ch;
        line-height: 1.6;
    }
}


/* eduction and experience */

.education-info {
    min-height: 100vh;
    background-color: var(--primary-color);
}

/* Timeline Container */
.timeline {
    padding: 4rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Card container */
  .timeline-card {
    position: relative;
    max-width: 400px;
  }
  
  /* setting padding based on even or odd */
  .timeline-card:nth-child(odd) {
    padding: 30px 0 30px 30px;
  }
  .timeline-card:nth-child(even) {
    padding: 30px 30px 30px 0;
  }
  /* Global ::before */
  .timeline-card::before {
    content: "";
    position: absolute;
    width: 50%;
    border: solid orangered;
  }
  
  /* Setting the border of top, bottom, left */
  .timeline-card:nth-child(odd)::before {
    left: 0px;
    top: -4.5px;
    bottom: -4.5px;
    border-width: 5px 0 5px 5px;
    border-radius: 50px 0 0 50px;
  }
  
  /* Setting the border of top, bottom, right */
  .timeline-card:nth-child(even)::before {
    right: 0;
    top: 0;
    bottom: 0;
    border-width: 5px 5px 5px 0;
    border-radius: 0 50px 50px 0;
  }
  
  /* Removing the border if it is the first timeline-card */
  .timeline-card:first-child::before {
    border-top: 0;
    border-top-left-radius: 0;
  }
  
  /* Removing the border if it is the last timeline-card  and it's odd */
  .timeline-card:last-child:nth-child(odd)::before {
    border-bottom: 0;
    border-bottom-left-radius: 0;
  }
  
  /* Removing the border if it is the last timeline-card  and it's even */
  .timeline-card:last-child:nth-child(even)::before {
    border-bottom: 0;
    border-bottom-right-radius: 0;
  }
  
  /* Information about the timeline */
  .info {
    display: flex;
    flex-direction: column;
    background: #333;
    color: gray;
    border-radius: 10px;
    padding: 10px;
  }
  
  /* Title of the timeline-card */
  .title {
    color: orangered;
    position: relative;
  }
  
  /* Timeline dot  */
  .title::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 999px;
    border: 3px solid orangered;
  }

  .info h5 {
    color: var(--secondary-color);
    padding: .6rem 0;
}

.info h5.middle {
      text-align: right;
  }
  
  /* text right if the timeline-card is even  */
  .timeline-card:nth-child(even) > .info > .title {
    text-align: right;
  }

  /* setting dot to the left if the timeline-card is odd */
  .timeline-card:nth-child(odd) > .info > .title::before {
    left: -45px;
  }
  
  /* setting dot to the right if the timeline-card is odd */
  .timeline-card:nth-child(even) > .info > .title::before {
    right: -45px;
  }
  

  /* skills */

/* technical skills */

.technical-skills {
    min-height: 50vh;
    display: grid;
    place-content: center;
    padding: 4rem 0;
    margin-top: 4rem;
}

.technical-skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 70vw;
}

.technical-skills>h2 {
    margin-bottom: 4rem;
}

.technical-skill {
    border: 2px sold var(--dark-text-color);
    border-radius: .3rem;
    padding: .6rem 1.2rem;
}

  /* personal skills */

  .personal-skills {
    min-height: 25vh;
    margin: 4rem 0;
  }

  .personal-skills>h2 {
    margin-bottom: 4rem;
  }

  .personal-skills .personal-skills-container {
    display: flex;
    color: var(--dark-text-color);
    justify-content: center;
    align-items: center;
    gap: 2rem;

    & .personal-skill {
        border: 1px solid var(--dark-text-color);
        border-radius: 2rem;
        padding: .6rem 1.2rem;
    }
  }

  /* projects */

  .technical-projects {
    display: grid;
    place-content: center;
    min-height: 100vh;
  }

  .technical-projects>h2 {
    padding-top: 4rem;
  }

  .cards-container {
    width: 70vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 4rem 0 8rem;
  }

  .card {
    border: 1px solid var(--dark-text-color);
    height: 16rem;
    width: 12rem;
    border-radius: .3rem;

    & .card-top {
        height: 13rem;
        background-color: var(--secondary-color);
        background-color: url('#');
        background-position: center;
        background-repeat: no-repeat;
        background-size: fit;
        border-radius: .3rem .3rem 0 0;
    }

    & .card-bottom {
        height: 3rem;
        background-color: var(--tertiary-color);
        border-radius: 0 0 .3rem .3rem;
    }
  }


  /* achievements */

  .certifications {
    padding: 4rem 8rem;
    background-color: var(--primary-color);
  }

  .certifications h2, .certifications p {
    color: var(--light-text-color);
    text-align: center;
  }

  .certifications p {
    padding: 1.5rem 0 4rem;
  }

  @keyframes slides {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
  .logos {
    overflow: hidden;
    padding: 30px 0px;
    white-space: nowrap;
    position: relative;
  }
  
  .logos:before, .logos:after {
    position: absolute;
    top: 0;
    content: '';
    width: 250px;
    height: 100%;
    z-index: 2;
  }
  
  .logos:before {
    left: 0;
    background: linear-gradient(to left, rgba(255,255,255,0), var(--primary-color));
  }
  
  .logos:after {
    right: 0;
    background: linear-gradient(to right, rgba(255,255,255,0), var(--primary-color));
  }
  
  .logo_items {
    display: inline-block;
    animation: 35s slides infinite linear;
  }
  
  .logos:hover .logo_items {
    animation-play-state: paused;
  }
  
  .logo_items img{
    height: 150px;
  }


  /* contact */

  .contact-section {
    background-color: var(--secondary-color);
    display: grid;
    place-content: center;
  }

  .contact-section>h2 {
    margin-top: 4rem;
    color: var(--dark-text-color);
  }

  .form-container {
    display: flex;
    gap: 12rem;
    align-items: center;
    padding: 4rem 0;
  }

  .map-container {
    border: 1px solid black;
    height: 100%;
    width: 24rem;
  }

  .input-fields {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .input-field {
    border: none;
    width: 20rem;
    padding: .8rem 1.6rem;
    border-radius: .2rem;
    background-color: var(--);
  }

  .input-field:focus {
    outline: 1px solid var(--accent-color);
  }


  #message {
    resize: none;
    height: 6rem;
  }

  button[type="submit"] {
    background-color: var(--accent-color);
    border: none;
    padding: .8rem 1.6rem;
    border-radius: .2rem;
    color: var(--light-text-color);
    font-weight: bold;
    font-size: 1rem;
    transition: background-color .25s ease-in-out;
  }

  button[type="submit"]:hover {
    background-color: rgba(255, 68, 0, 0.575);
  }

  /* footer */

  footer .container {
    padding: 2rem;
    background-color: var(--primary-color);
  }

  footer .container p {
    text-align: center;
    color: var(--light-text-color);
    font-size: 12px;
  }
  